<footer class="page-footer font-small bg-dark pt-4 text-white">

    <div class="container-fluid text-center text-md-left">
      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">FORUM</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Liens</h5>
          <ul class="list-unstyled">
            <li>
              <a href="{{ path_for('forum') }}" class="text-white">Forum</a>
            </li>
            {% if username %}
              <li>
                <a href="{{ path_for('deconnexion') }}" class="text-white">Deconnexion</a>
              </li>
            {% else %}
              <li>
                <a href="{{ path_for('connexion') }}" class="text-white">Connexion</a>
              </li>
              <li>
                <a href="{{ path_for('inscription') }}" class="text-white">Inscription</a>
              </li>
            {% endif %}
          </ul>
        </div>
  
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Liens</h5>
          <ul class="list-unstyled">
            <li>
              <a href="{{ path_for('contact') }}" class="text-white">Contact</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  
    <div class="footer-copyright text-center py-3">© 2020 Copyright</div>

    
	<script src="http://slim.opty.site/js/bootstrap.bundle.js" rel="stylesheet"></script>
	<script src="http://slim.opty.site/js/bootstrap.js" rel="stylesheet"></script>

</footer>