<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{{ path_for('forum') }}">Forum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if username %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('deconnexion') }}">Deconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('connexion') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('inscription') }}">Inscription</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('contact') }}">Contact</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path_for('profil') }}/{% if username %}{{ userid }}{% endif %}" class="nav-link">{% if username %} {{ username }} {% endif %}</a>
                </li>
            </ul>
        </div>
        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Meilleur film..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </div>
</nav>